//CALCS
$mobileRange: 600px;
$panelHeight : 70px;
$headerHeight : 370px;
$maxWidthForApp : 1280px;
$RouteHeight : 500px;

//COLORS
$headerColor : rgb(245, 245, 245);
$activeNavLinkColor :  rgb(49, 49, 49);

//RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

.app {
  width: 100%;
  font-family: "Poppins", "Roboto", "Arial", Sans-serif;
  // background-color: rgb(106, 253, 209);
}

