@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Josefin+Sans&family=Orbitron&family=Poppins:wght@200;400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

.app {
  width: 100%;
  background-color: rgb(106, 253, 209);
}

