@import "./App.scss";

.socialLinks {
    z-index: 4;
    position: absolute;
    left: 10px;
    bottom: calc($headerHeight / 2);
    transform: translateY(50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    @media screen and (min-width: $mobileRange) {
        flex-direction: row;
        bottom: 20px;
        transform: none;
    }

    &__link > a {
        font-size: 18px;
        width: 33px;
        aspect-ratio: 1;
        background-color: rgba(255, 255, 255, 0.363);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(27, 27, 27);
        cursor: pointer;
        transition: 
            background-color 0.3s ease-out,
            transform 0.3s ease-out,
        ;

        &:hover {
            background-color: rgb(240, 186, 10);
            transform: scale(1.2);
        }
    }
}