@import "../components/App.scss";

@mixin fontGradient ($firstColor, $secondColor, $thirdColor, $fourthColor){
    background: linear-gradient(to right, $firstColor, $secondColor, $thirdColor, $fourthColor);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $headerHeight;
    margin-top: $panelHeight;
    background-color: $headerColor;
    overflow: hidden;

    @media screen and (min-width: 1280px) {
        height : 470px;
    }

    &__title {
        padding-bottom: 30px;
        font-size: 45px;
        color: $headerColor;
        text-shadow: 0 0 35px rgba(255, 255, 255, 0.205);
        z-index: 1;
        font-family: "Poppins", serif;
        -webkit-text-stroke: 1.3px #000;
        text-stroke: 2px #000;
        color: transparent;
        // color: rgb(37, 37, 37);
        // @include fontGradient();

        @media screen and (min-width : 420px) {
            font-size: 50px;
        }

        @media screen and (min-width : 550px) {
            font-size: 65px;
        }

        @media screen and (min-width : 700px) {
            font-size: 80px;
            -webkit-text-stroke: 1.5px #000;
        }

        @media screen and (min-width : 1100px) {
            font-size: 100px;
        }
    }

    &__subtitle {
        color: rgba(255, 255, 255, 0.74);
        font-size: 18px;
        z-index: 1;
        line-height: 35px;
        font-weight: normal;
        // color: $headerColor;
        // color: orange;
        // @include fontGradient(rgb(17, 148, 153), rgb(204, 25, 159), orange, rgb(243, 210, 61));

        @media screen and (min-width : 550px) {
            font-size: 25px;
        }
    }

    &__video {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
    }
}