@import "../components/App.scss";

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    margin-top: $headerTopMar;
    background-color: $headerColor;

    &__title {
        font-size: 60px;
        color: $headerColor;
        text-shadow: 0 0 15px rgb(179, 179, 179);
    }
}