@import "../../styles/components/App.scss";

.navbar {
    // display: none;
    z-index: 3;
    position: absolute;
    top: $panelHeight;
    right: 0;
    // background-color: $headerColor;
    background-color: rgba(245, 245, 245, 0.808);
    backdrop-filter: blur(8px);
    width: 100%;
    height: 0;
    border-bottom: 1px solid rgb(180, 180, 180);
    transition: height 0.15s ease-in-out;
    overflow: hidden;

    @media screen and (min-width: $mobileRange) {
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 18px 0;
    }
}

.navbarLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    list-style: none;
    transition:
        opacity 0s ease-in-out
    ;

    @media screen and (min-width: $mobileRange) {
        flex-direction: row;
        gap: 10px;
    }

    &__link > a {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $headerColor;
        border-radius: 50px;
        padding: 7px 0;
        width: 95px;
        box-shadow: 0 0 4px rgb(167, 167, 167);
        color: rgb(85, 85, 85);
        cursor: pointer;
        text-decoration: none;

        &:hover {
            color: orange;
        }
    }
}

a.active {
    background-color: $activeNavLinkColor;
    color: orange;
}

.visibilityNavbar {
    display: flex;
    justify-content: center;
    height: $headerHeight;
}

.opacityNavbarLinks {
    opacity: 0;
}