@import "../../styles/components/App.scss";

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 18px 0;
    // background-color: red;
    border-bottom: 1px solid rgb(180, 180, 180);
}

.navbarLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    list-style: none;

    &__link > a {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $headerColor;
        border-radius: 50px;
        padding: 7px 0;
        width: 95px;
        box-shadow: 0 0 4px rgb(167, 167, 167);
        color: rgb(139, 139, 139);
        cursor: pointer;
        text-decoration: none;

        &:hover {
            color: orange;
        }
    }
}

a.active {
    background-color: $activeNavLinkColor;
    color: orange;
}